<h1>Sistema de Gerenciamento de Computadores</h1>

<label [matBadge]="computadores.length" matBadgeOverlap="false">Total de Computadores</label>

<br>

<mat-form-field>
  <label>Número de Série:</label>
  <input matInput [(ngModel)]="computadorTratamento.numeroSerie" placeholder="Digite o número de série">
</mat-form-field>

<mat-form-field>
  <label>Marca:</label>
  <input matInput [(ngModel)]="computadorTratamento.marca" placeholder="Digite a marca">
</mat-form-field>

<mat-form-field>
  <label>Modelo:</label>
  <input matInput [(ngModel)]="computadorTratamento.modelo" placeholder="Digite o modelo">
</mat-form-field>

<mat-form-field>
  <label>Processador:</label>
  <input matInput [(ngModel)]="computadorTratamento.processador" placeholder="Digite o processador">
</mat-form-field>

<mat-form-field>
  <label>RAM:</label>
  <input matInput [(ngModel)]="computadorTratamento.ram" placeholder="Digite a quantidade de RAM">
</mat-form-field>

<button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar</button>
<button mat-raised-button color="accent" (click)="atualizar()">Atualizar</button>

<br>

<div class="mensagem-erro">{{mensagemErro}}</div>

<br>

<mat-card class="example-card" *ngFor="let computador of computadores">
  <mat-card-header>
    <mat-card-title>{{computador.marca}} {{computador.modelo }}</mat-card-title>
    <mat-card-subtitle>{{computador.processador}} - {{computador.ram}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Este computador, com número de série {{computador.numeroSerie}}, da marca {{computador.marca}} e modelo
      {{computador.modelo}}, possui um processador {{computador.processador}} e {{computador.ram}} GB de RAM,
      sendo utilizado para...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-fab color="primary" (click)="remover(computador)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-fab color="accent" (click)="selecionarParaAtualizar(computador)">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<br>

<label>Pesquisar por Número de Série:</label>
<input (keyup)="pesquisar(inputPesquisa.value)" #inputPesquisa>

<ul>
  <li *ngFor="let computador of computadoresPesquisa">
    {{computador.numeroSerie}} - {{computador.marca | titlecase}} {{computador.modelo | titlecase}}
  </li>
</ul>
